html {
    background-color: plum;
}
h1 {
    background-color: black;
    color: white;
    text-align: center;
    letter-spacing: 2px;
    padding: 100px;
    line-height: 1.5;
    text-shadow: 2px 2px pink;
    font-family: 'Poppins', sans-serif;
    font-size: 55px;
    border: white solid 5px;
}
h2 {
    background-color: white;
    color: black;
    text-align: center;
    letter-spacing: 2px;
    line-height: 1.5;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}  
p {
    background-color: midnightblue;
    letter-spacing: 2px;
    text-align: justified;
    color: white;
    line-height: 1.0;
    padding: 30px;
    font-family: 'Poppins', sans-serif;
}
ul {
    background-color: midnightblue;
    letter-spacing: 2px;
    text-align: justified;
    color: white;
    line-height: 1.0;
    padding: 30px;
    font-family: 'Poppins', sans-serif;
}
.imagea {
   vertical-align: baseline; 
}
.fun {
    color: pink;
    padding: 30px;
    text-decoration: underline;
    letter-spacing: 2px;
    text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
    font-family: 'Poppins', sans-serif;
}
#name {
    text-transform: capitalize;
    letter-spacing: 2px;
    text-shadow: 2px 2px red;
    font-family: 'Poppins', sans-serif;
}